@model IList<site.Models.Domain.Order>

@{
}

<h1>Заказы</h1>
<a type="submit" class="btn btn-primary" asp-area="" asp-controller="Order" asp-action="Add">Добавить</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ClientID</th>
            <th>EmployeeId</th>
            <th>ProductId</th>
            <th>NumberContact</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.ClientID</td>
                <td>@order.EmployeeId</td>
                <td>@order.ProductId</td>
                <td>@order.NumberContact</td>
                <td>@order.Data</td>
                <td><a href="Order/View/@order.Id">Просмотреть</a></td>
            </tr>
        }
    </tbody>
</table>